@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Readex+Pro:wght@300&display=swap');

$content-width: 1250px;
$default-font: 'Readex Pro', sans-serif;

$breakpoint_xl: 1440px;
$breakpoint_lg: 1024px;
$breakpoint_md: 768px;
$breakpoint_sm: 640px;
